.feature-container{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all ease 0.2s;
  background-color: #f2f9f8;
}


#staff-container{
  width: 100vw;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.width-40{
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;

}
.width-60{
  width: 60vw;
  box-sizing: border-box;
  position: relative;

}

.feature-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

.carousel{
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}
