.feature-container{
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
  width: 130px;
}

#client-features, #staff-features{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  width: 50%;
  min-height: 500px;
}
.feature-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#staff-container{
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  width: 90vw;
  margin: 2rem auto;
  padding: 2rem;
}

#client-container{
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  width: 90vw;
  margin: 0 auto;
  padding: 2rem;
}

.width-40{
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  box-sizing: border-box;
  position: relative;
  margin: 2rem;

}
.width-60{
  width: 60vw;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.feature-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

.screenshot{
  width: 600px;
  margin: 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;    
  border-radius: 5px;
}

.feature-icon{
  color:#266;
  font-size: 40px !important;
}

.feature-title{
  font-family: 'Albert Sans', sans-serif;
  text-align:center;
  font-size:18px;
  color:#266;
}

.body-map{
  height: 500px;
}

@media only screen and (max-width: 1100px) {
  #client-container, #staff-container{
    flex-direction: column;
  }
  #client-features, #staff-features{
    width: 100%;
  }
  .feature-list{
    margin: 2rem auto;
  }
  .screenshot{
    width: 95%;
  }
}

@media only screen and (max-width: 700px) {
  .width-40, .width-60{
    width: 100vw;
  }
  #staff-container{
    flex-direction: column;
  }
 
  .feature-img{
    height: 600px;
  }
  #first-carousel{
    position: absolute !important;
    top: 600px !important;
    left: 0 !important;
  }
  .feature-icon{
    font-size: 30px !important;
  }
  .feature-title{
  
    font-size:14px;
  
  }
  .feature-container{
    width: 80px;
  }
}
