#terms-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#terms-container > h1, #terms-container > h2,#terms-container > h3, #terms-container > h4{
    color: #266867;
    line-height: 35px;
}

#terms-container > *{
    line-height: 22px;
    margin: 1rem 0;
}